venv
app/__pycache__
app/routers/__pycache__
.env
dbtest.py
backend.service
setup.sh
content.JPEG
style.JPEG
comp.JPEG
.pytest_cache
tests
docker-compose-prod.yml
docker-compose-dev.yml
frontend.Dockerfile
backend.Dockerfile
Procfile